h1 {
    color: rgba(100, 0, 70, 1);
/*    border-color: purple;
    border-width: 5px;
    border-style: solid;*/

    border: 2px dashed rgb((255), 100, 80);
}

h4 {
    background: rgb(255, 100, 80);
}

body {
    background: pink;
}

